body {
  font-family: "Montserrat";
  text-align: center;
}

/* download button */
.download-button {
  margin: 7% 3% 7% 0;
}

#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 12.5%;
}

/* title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%
}

/* headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}


/* features section */
#features {
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  text-align: center;
  padding: 7% 10%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 5% 7%;
}

/* press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

/* press-logo */
.press-logo {
  width: 15% ;
  margin: 20px 20px 50px;
}

/* pricing-section */
#pricing {
  padding: 100px;
  text-align: center;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* call-of-action column */
#cta {
  background-color: #ff4c68;
  color: #fff;
  font-style: "Montserrat-Bold";

}

.cta-container{
  font-size: 3.5rem;
  line-height: 1.5;margin-left: 550px;
  padding: 3% 5% 7% 5%;
}

/* footer */
#footer {
  background-color: #fff;
}

.footer-text{
  padding: 5%;
  margin:auto;
}

.media-box {
  width: 300px;
  padding: 5%;
  margin: auto;
}

.media-icon{
  color: #ef8172;
}

.media-icon:hover{
  color: red;
}
